.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 30px;
  gap: 24px;
  @include tablet-landscape {
    flex-direction: row;
    padding-block: 60px;
  }
}
.right_container,
.left_container {
  width: 100%;
  z-index: -1;
  @include tablet-landscape {
    width: 50%;
  }
}
.left_container {
  @include tablet-landscape {
    margin-top: -250px;
  }
}

.image-wrap {
  position: relative;
  border: 0px solid black;
  border-radius: 30px;
  margin-top: 20px;
  aspect-ratio: 5 / 2.76;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(151, 150, 150);
  z-index: -1;
  @include tablet-landscape {
    aspect-ratio: 636 / 350;
    border-radius: 40px;
  }

  .picture,
  .image {
    width: 100%;
    height: 100%;
  }

  .image {
    display: block;
    z-index: 2;
    object-fit: cover;
    object-position: top center;
  }
}

.font-price {
  font-size: 20px;
  @include tablet-landscape {
    font-size: 30px;
  }
}
.spec-box {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 24px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  min-height: 108px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include tablet-landscape {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    min-height: 108px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
  }
}

.spec {
  max-width: 900px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @include tablet-landscape {
    max-width: 900px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.second-spec {
  margin-top: 20px;
  @include tablet-landscape {
    margin-top: 24px;
  }
}

.bold-text {
  font-weight: bold;
}
.car-btn {
  margin-top: 20px;
  width: 350px;
  margin-bottom: 20px;
  @include tablet-landscape {
    width: 290px;
  }
}
.container-with-title {
  width: 420px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.container {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 15px;
}
label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  border: 1px solid #ccc;
}
input[type="checkbox"]:checked {
  background-color: #5836f5;
}
