<aside class="sidebar" th:fragment="sidebar">
  <h3 class="h3-title-form-title title-color">Dash</h3>

  <nav class="sidebar-nav">
    <a class="p-body-text active" href="/admin/dashboard">Dashboard</a>
    <a class="p-body-text" href="/admin/vehicles">Vehicles</a>
    <a class="p-body-text" href="#">Bookings</a>
    <a class="p-body-text" href="#">Customers</a>
    <a class="p-body-text" href="#">Users</a>
  </nav>

  <div class="sidebar-footer">
    <a href="#">Help</a>
    <a href="#">Contact Us</a>
  </div>
</aside>
