.homepage-info-block {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    padding-block: 60px; //top & bottom
    padding-inline: 72px; //left & right
    gap: 50px;
    @include tablet-landscape {
      gap: 112.5px;
      flex-direction: row;
    }
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .center-info-text {
    text-align: center;
  }
}
