.homepage-info-banner {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    padding-block: 30px;
    background-color: $primary-color;
    border-radius: 20px;
    gap: 40px;
    @include tablet-landscape {
      padding-block: 60px;
      gap: 80px;
    }
  }

  .top-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    gap: 20px;
  }

  .heading-color {
    color: white;
  }

  .paragraph-color {
    color: white;
    text-align: center;
  }

  .bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding-inline: 40px;
    gap: 24px;

    @include tablet-portrait {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    @include tablet-landscape {
      grid-template-columns: repeat(4, 1fr);
      gap: auto;
    }
  }

  .info-tab-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    //width,height set values becaues wont change
    width: 100%;
    max-width: 240px;
    max-height: 100px;
    background-color: white;
    padding: 16px;
    gap: 16px;
    border-radius: 20px;
  }

  .tab-icon-wrapper {
    background-color: $secondary-color;
    border-radius: 12px;
    padding-block: 14px;
    padding-inline: 16px;
    gap: 8px;
  }

  .tab-icon {
    height: 40px;
    width: 40px;
  }

  .stat-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .stat-header {
    font-size: 18px;
  }
}
