.homepage-car-gallery-block {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    padding-block: 30px;
    gap: 20px;
    @include tablet-landscape {
      padding-block: 60px;
      gap: 40px;
    }
  }

  .heading-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    @include tablet-landscape {
      gap: 200px;
    }
  }

  .car-header-text {
    font-size: 20px;
    @include tablet-portrait {
      font-size: 30px;
    }
    @include tablet-landscape {
      font-size: 50px;
    }
  }

  .view-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: end;
  }

  .view-text {
    font-size: 12px;
    @include tablet-landscape {
      font-size: 20px;
    }
  }

  .arrow-icon {
    height: 12px;
    width: 12px;
    @include tablet-landscape {
      height: 24px;
      width: 24px;
    }
  }

  // ------------Card styles start here------------------------

  .car-gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    @include tablet-portrait {
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
    }
    @include tablet-landscape {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }

  .car-card {
    // height: 350px; // Height will adjust based on content with flex
    border: 1px solid rgb(229, 229, 229);
    border-radius: 20px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; // Center items horizontally
    gap: 16px; // Space between image and details

    @include tablet-landscape {
      // height: 420px;
      padding: 24px;
      gap: 24px;
    }

    .image-wrap {
      position: relative;
      width: 100%;
      aspect-ratio: 368 / 232;
      overflow: hidden;
      @include tablet-landscape {
        aspect-ratio: 368 / 240;
      }

      .picture,
      .image {
        display: block;
        width: 100%;
        height: 100%;
      }

      .image {
        object-fit: cover;
      }
    }

    .car-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px; // Space between detail elements

      .title-and-price {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .top-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .bottom-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .per-day-text {
        font-size: 12px;

        @include tablet-landscape {
          font-size: 14px;
        }
      }

      .features-row {
        display: flex;
        justify-content: space-between; // Space out features
        margin-top: 12px;
        margin-bottom: 16px; // Space before button

        @include tablet-landscape {
          margin-top: 20px;
          margin-bottom: 24px;
        }

        .feature-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          gap: 4px;

          .feature-icon {
            width: 20px;
            height: 20px;
            color: black; // Icon color

            @include tablet-landscape {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  // ------------Card styles end here------------------------
}

.color {
  background-color: aqua;
}
