.homepage-feature-block {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    padding-block: 30px; //top & bottom
    @include tablet-portrait {
      padding-block: 30px; //top & bottom
      padding-inline: 30px; //left & right
    }
    @include tablet-landscape {
      flex-direction: row;
      padding-block: 60px; //top & bottom
      padding-inline-start: 86px; //left
      gap: 75px;
    }
    @include wide-desktop {
      gap: 110px;
    }
  }

  //--------image styles start here--------

  .image-wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 368 / 232;
    overflow: hidden;
    @include tablet-landscape {
      aspect-ratio: 550 / 549;
    }

    .picture,
    .image {
      display: block;
      width: 100%;
      height: 100%;
    }

    .image {
      object-fit: cover;
    }
  }

  .info-image {
    border-radius: 20px;
  }
  //--------image styles end here--------

  .feature-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
    @include tablet-landscape {
      width: 70%;
      gap: 28px;
    }
  }

  .feature-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .feature-heading-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .feature-number {
    background-color: $primary-color;
    color: white; //text color
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;

    //to center the number
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet-portrait {
      width: 32px;
      height: 32px;
    }
  }
}
