.about-us-hero {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 40px;
    gap: 10px;
    @include tablet-landscape {
      padding-block: 69px;
      gap: 20px;
    }
  }

  .title-size {
    font-size: 30px;
    @include tablet-landscape {
      font-size: 50px;
    }
  }

  .link-wrapper {
    display: flex;
    flex-direction: row;
  }

  .link {
    text-decoration: none;
  }
}
