<div class="car-card" th:fragment="carCard(car,startDate,endDate)">
  <div class="image-wrap">
    <img th:src="${car.imageUrl}" class="image" alt="Car image" />
  </div>

  <div class="car-details">
    <div class="title-and-price">
      <div class="top-wrap">
        <h2 class="h2-title" th:text="${car.brand}">Toyota</h2>
        <p class="p-price-tag">
          Rs <span th:text="${car.rentPrice}">7500</span>
        </p>
      </div>

      <div class="bottom-wrap">
        <p class="p-body-text-gray" th:text="${car.type}">Sedan</p>
        <p class="p-body-text-gray">per day</p>
      </div>
    </div>

    <div class="features-row">
      <div class="feature-item">
        <img
          th:src="@{/icons/vehicle-card/gearshift-shift-svgrepo-com.svg}"
          style="width: 24px; height: 24px; object-fit: contain; display: block"
        />
        <span th:text="${car.transmission}">Manual</span>
      </div>

      <div class="feature-item">
        <img
          th:src="@{/icons/vehicle-card/gas-station-svgrepo-com.svg}"
          style="width: 24px; height: 24px; object-fit: contain; display: block"
        />
        <span th:text="${car.fuelType}">Petrol</span>
      </div>

      <div class="feature-item" th:if="${car.airConditioner}">
        <img
          th:src="@{/icons/vehicle-card/air-conditioner.svg}"
          style="width: 24px; height: 24px; object-fit: contain; display: block"
        />
        <span>Air Conditioner</span>
      </div>
    </div>

    <div class="btn-container">
      <a
        th:href="@{/details(id=${car.carId}, start=${startDate}, end=${endDate})}"
        class="btn-primary car-btn"
        style="text-align: center; text-decoration: none; display: block"
      >
        Rent car
      </a>
    </div>
  </div>
</div>
