.footer {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include tablet-landscape {
      gap: 60px;
    }
  }

  .h3-size {
    font-size: 20px;
  }

  //start of top wrapper

  .top-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    @include tablet-landscape {
      flex-direction: row;
    }
  }

  .logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include tablet-landscape {
      justify-content: flex-start;
    }
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    @include tablet-portrait {
      flex-direction: row;
      gap: 35px;
    }
    @include wide-desktop {
      gap: 50px;
    }
  }

  .feature-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    @include wide-desktop {
      gap: 15px;
    }
  }

  .icon-info-wrapper {
    display: flex;
    flex-direction: column;
  }

  .icon-text {
    font-weight: bold;
  }
  //end of top wrapper

  //start of middle wrapper
  .middle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    @include tablet-portrait {
      gap: 150px;
      flex-direction: row;
    }
    @include wide-desktop {
      gap: 328px;
    }
  }

  .paragraph-warapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .link-wrapper {
    @include tablet-portrait {
      width: 100%;
    }
    width: 50%;
  }

  .vehicle-wrapper {
    width: 50%;
  }

  .title-margin {
    margin-bottom: 24px;
  }

  .link-gap {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  //end of middle wrapper

  //start of bottom wrapper
  .bottom-wrapper {
    display: flex;
    justify-content: center;
  }
  //end of bottom wrapper
}
