<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />

    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <!-- Homepage hero block starts here -->
    <section class="homepage-hero">
      <div class="content-width wrap-all">
        <div class="inner-wrap">
          <div class="banner-container">
            <div class="content-wrap">
              <h1 class="h1-title-hero hero-text-color">
                Experience the road like never before
              </h1>
              <p class="p-body-text">
                Choose from a diverse range of vehicles, from fuel-efficient city cars to spacious luxury SUVs. Every vehicle is meticulously maintained and sanitized for your safety
              </p>
              <div class="button-wrap">
                <button class="btn-secondary">View all Cars</button>
              </div>
            </div>
            <!-- form styles start here -->
            <div th:if="${errorMessage}" style="color: red; font-weight: bold;" th:text="${errorMessage} "></div>
            <div th:if="${successMessage}" style="color: green; font-weight: bold;" th:text="${successMessage}"></div>
            
            <form class="form-wrap" th:action="@{/book}" th:object="${bookingRequest}" method="POST">
              <h3 class="h3-title-form-title">Book your car</h3>
              <div class="input-label-wrapper">
                <div class="date-field-wrapper">
                  <select
                    class="form-select p-body-text date-field"
                    name="carType" 
                    aria-label="Default select example"
                    required
                  >
                    <option value="" selected disabled>Car Type</option>
                    <option value="Sedan">Sedan</option>
                    <option value="Van">Van</option>
                    <option value="Pickup">Pickup</option>
                    <option value="Suv">Suv</option>
                    <option value="Minivan">Minivan</option>
                  </select>
                </div>

                <h3 class="h3-title label">Rental date</h3>
                <div class="date-field-wrapper">
                  <input class="date-field" type="date" name="rentalDate" required />
                </div>

                <h3 class="h3-title label">Return date</h3>
                <div class="date-field-wrapper">
                  <input class="date-field" type="date" name="returnDate" required />
                </div>
              </div>
              <button type="submit" class="btn-secondary">Book now</button>
            </form>
            <!-- form styles ends here -->
          </div>
        </div>
      </div>
    </section>
    <!-- Homepage hero block ends here -->
    <!-- Homepage-info block starts here -->
    <section class="homepage-info-block">
      <div class="content-width">
        <div class="main-wrapper">
          <div class="info-wrapper">
            <div class="info-icon-wrapper">
              <img th:src="@{/icons/homepage/location-pin-svgrepo-com.svg}" 
              width="64" height="64" class="info-icon" alt="location icon" />
            </div>
            <h3 class="h3-title">Availability</h3>
            <div class="p-body-text center-info-text">
             Find us at major airports, city centers, and transit hubs. We offer flexible pickup and drop-off options to fit your travel schedule perfectly.
            </div>
          </div>
          <div class="info-wrapper">
            <div class="info-icon-wrapper">
               <img th:src="@{/icons/homepage/car-side-svgrepo-com.svg}" 
                width="64" height="64" class="info-icon" alt="car icon"/>
            </div>
            <h3 class="h3-title">Comfort</h3>
            <div class="p-body-text center-info-text">
             Choose from a diverse range of vehicles, from fuel-efficient city cars to spacious luxury SUVs. Every vehicle is meticulously maintained for your safety and comfort.
            </div>
          </div>
          <div class="info-wrapper">
            <div class="info-icon-wrapper">
              <img th:src="@{/icons/homepage/wallet-svgrepo-com.svg}" 
                width="64" height="64" class="info-icon" alt="wallet icon"/>
            </div>
            <h3 class="h3-title">Savings</h3>
            <div class="p-body-text center-info-text">
              Enjoy competitive rates with no hidden fees. What you see is what you pay, ensuring you get the best value for your car rental needs.
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Homepage-info block ends here -->
    <!--Homepage-feature block starts here -->
    <section class="homepage-feature-block">
      <div class="content-width">
        <div class="main-wrapper">
          <!-------image starts here-------->
          <div class="image-wrap">
          <picture class="picture">
            <source th:srcset="@{/images/key.jpg}" />
            <img
              class="image info-image"
              th:src="@{/images/key.jpg}"
              alt="Car silhouette"
            />
          </picture>
          </div>
          </picture>
          <!-------image ends here-------->
          <!-------feature items start here-------->
          <div class="feature-wrapper">
            <div class="feature-item-wrapper">
              <div class="feature-heading-wrapper">
                <p class="p-body-text feature-number">1</p>
                <h3 class="h3-title">Strategic Pickup Locations</h3>
              </div>
              <p class="p-body-text">
                Access our services easily from major airports, bustling city centers, and key transit hubs.
              </p>
            </div>

            <div class="feature-item-wrapper">
              <div class="feature-heading-wrapper">
                <p class="p-body-text feature-number">2</p>
                <h3 class="h3-title">Quality</h3>
              </div>
              <p class="p-body-text">
                Choose from an extensive range of vehicles, from fuel-efficient compacts for city driving to spacious, powerful SUVs for family adventures.
              </p>
            </div>

            <div class="feature-item-wrapper">
              <div class="feature-heading-wrapper">
                <p class="p-body-text feature-number">3</p>
                <h3 class="h3-title">Value</h3>
              </div>
              <p class="p-body-text">
               Enjoy highly competitive daily rates with no hidden fees or surprise charges.
              </p>
            </div>

            <div class="feature-item-wrapper">
              <div class="feature-heading-wrapper">
                <p class="p-body-text feature-number">4</p>
                <h3 class="h3-title">Seamless Booking Experience</h3>
              </div>
              <p class="p-body-text">
                Reserve your perfect vehicle in seconds through our intuitive, mobile-friendly platform.
              </p>
            </div>
          </div>
          <!--feature-items block ends here-->
        </div>
      </div>
    </section>
    <!--Homepage-feature block ends here-->

    <!--Homepage-car-gallery-block starts here-->
    <section class="homepage-car-gallery-block">
      <div class="content-width">
        <div class="main-wrapper">
          <div class="heading-wrapper">
             <h1 class="h1-title car-header-text">
              Choose the car that suits you
            </h1>
            <div class="view-wrapper">
               <h3 class="h3-title view-text">View all</h3>
               <img class="arrow-icon" src="./icons/homepage/arrow-right-svgrepo-com.svg">
            </div>
          </div>
          <div class="car-gallery-wrapper">
            <div th:each="car, stat : ${cars}">
              <div th:if="${stat.index < 6}">
                <div th:replace="~{fragments/car-card :: carCard(${car}, null, null)}"></div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!--Homepage-car-gallery-block ends here-->
    <!--homepage-info-banner starts here-->
    <section class="homepage-info-banner">
      <div class="content-width">
        <div class="main-wrapper">
          <div class="top-wrapper">
            <h1 class="h1-title heading-color">Facts In Numbers</h1>
            <p class="p-body-text paragraph-color">Amet cras hac orci lacus. Faucibus ipsum arcu lectus nibh sapien bibendum ullamcorper in. Diam tincidunt tincidunt erat at semper fermentum</p>
          </div>
          <div class="bottom-wrapper">
            <div class="info-tab-wrapper">
              <div class="tab-icon-wrapper">
                 <img class="tab-icon" src="./icons/homepage/car-frontside.svg">
              </div>
              <div class="stat-wrapper">
                <h3 class="h3-title stat-header">
                  540+
                </h3>
                <p class="p-body-text">Cars</p>
              </div>
            </div>

              <div class="info-tab-wrapper">
              <div class="tab-icon-wrapper">
                 <img class="tab-icon" src="./icons/homepage/car-frontside.svg">
              </div>
              <div class="stat-wrapper">
                <h3 class="h3-title stat-header">
                  540+
                </h3>
                <p class="p-body-text">Cars</p>
              </div>
            </div>

             <div class="info-tab-wrapper">
              <div class="tab-icon-wrapper">
                 <img class="tab-icon" src="./icons/homepage/car-frontside.svg">
              </div>
              <div class="stat-wrapper">
                <h3 class="h3-title stat-header">
                  540+
                </h3>
                <p class="p-body-text">Cars</p>
              </div>
            </div>

             <div class="info-tab-wrapper">
              <div class="tab-icon-wrapper">
                 <img class="tab-icon" src="./icons/homepage/car-frontside.svg">
              </div>
              <div class="stat-wrapper">
                <h3 class="h3-title stat-header">
                  540+
                </h3>
                <p class="p-body-text">Cars</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div th:replace="~{fragments/footer :: footer-fragment}"></div>
      <!--homepage-info-banner ends here-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
