<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sign In</title>

    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="login-page">
    <section class="sign-in">
      <div class="login-wrapper">
        <!-- LEFT PANEL -->
        <div class="login-left">
          <h1>Rent & go.</h1>
        </div>

        <!-- RIGHT PANEL -->
        <div class="login-right">
          <div class="login-card">
            <h3 class="h3-title-form-title">Sign In</h3>
            <p class="subtitle">Sign in to your account</p>

            <form th:action="@{/login}" method="post">
              <div class="form-group">
                <label class="p-body-text">Username</label>
                <input
                  type="text"
                  name="username"
                  placeholder="Enter your username"
                  required
                />
              </div>

              <div class="form-group">
                <label class="p-body-text">Password</label>
                <input
                  type="password"
                  name="password"
                  placeholder="••••••••"
                  required
                />
              </div>

              <button type="submit" class="btn-login">Sign In</button>

              <div th:if="${param.error}" class="error">
                Invalid username or password
              </div>

              <div th:if="${param.logout}" class="success">
                You have been logged out
              </div>
            </form>

            <p class="register-text">
              Don’t have an account?
              <a th:href="@{/signup}">Register here</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
