@import "../auth-base/auth-base";

.auth-page__content {
  padding-top: 10px;
  min-height: 380px;
}

.auth-card__title {
  color: #000;
  margin-bottom: 20px;
  
}

.auth-form__input::placeholder {
  color: #b5b5b5;
}

.auth-form {
  gap: 22px;
}

.auth-form__helper-row {
  width: 100%;
  display: flex !important;       
  justify-content: flex-end !important;  
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);     
  margin-top: 8px;               
  gap: 4px;
}

.auth-form__helper-row .auth-form__link {
  color: $primary-color;          
  text-decoration: none;
}


.auth-form__button-row {
  margin-top: 10px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {


  .auth-card__title {
    font-size: 20px !important;   
    text-align: left !important;  
    margin-bottom: 16px !important;
  }
}
