//common
@import "mix-ins/variables";
@import "mix-ins/mixin";
@import "mix-ins/styleguide";

//navbar & footer
@import "./web-templates/navbar&footer/navbar";
@import "./web-templates/navbar&footer/footer";

//blocks
//homepage
@import "./web-templates/homepage/homepage-hero";
@import "./web-templates/homepage/homepage-info-block";
@import "./web-templates/homepage/homepage-feature-block";
@import "./web-templates/homepage/homepage-car-gallery-block.scss";
