.homepage-hero {
  .wrap-all {
    background-color: $primary-color;
    border-radius: 15px;
    @include tablet-landscape {
      border-radius: 25px;
    }
  }

  .inner-wrap {
    padding: 34.5px 34px 34px 36px;
    @include tablet-landscape {
      padding: 78.5px 78px 78.5px 72px;
    }
  }

  .banner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .content-wrap {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }

    @include tablet-landscape {
      flex-direction: row;
      justify-content: space-between;
      column-gap: 44px;
    }
  }

  .content-wrap {
    width: 100%;
    @include tablet-landscape {
      width: 50%;
    }
    @include laptop {
      width: 59.8%;
      padding-block-start: 90px;
      padding-block-end: 112px;
    }
  }

  .button-wrap {
    width: 100%;
    @include tablet-portrait {
      width: 30%;
    }
    @include tablet-landscape {
      width: 60%;
    }
    @include laptop {
      width: 30%;
    }
  }

  //-----form styles start here------
  .form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    row-gap: 40px;
    box-sizing: border-box; //contain the form
    @include tablet-landscape {
      width: 50%;
    }
    @include desktop {
      width: 36.2%;
    }
  }

  .hero-text-color {
    color: white;
  }

  .input-label-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }

  .date-field-wrapper {
    width: 100%;
  }

  .date-field {
    padding-block: 9px; //padding top and bottom
    padding-inline: 16px; //padding left and right
    border-radius: 12px;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba($primary-color, 0.6); //0.6 is 60% opacity
  }

  .label {
    font-size: 14px;

    @include tablet-landscape {
      font-size: 20px;
    }
  }

  //------form styles end here
}
