@import "../auth-base/auth-base";

.auth-page__content {
  padding-top: 10px;
  min-height: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

.auth-card__title {
  color: #000;
  margin-bottom: 20px;
  text-align: center;
  
}

.auth-form__input::placeholder {
  color: #b5b5b5;
}

.auth-form {
  gap: 22px;
}

.auth-form__helper-row {
  width: 100%;
  display: flex !important;
  justify-content: center !important; 
  align-items: center;
  font-size: 13px;
  color: #000;
  margin-top: 16px;
  gap: 4px;
}

.auth-form__helper-row .auth-form__link {
  color: $primary-color;
  text-decoration: none;
}

.auth-form__button-row {
  margin-top: 10px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .auth-form__helper-row {
    margin-top: 6px;
    text-align: center; 
  }
}

.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.auth-card__title {
    font-size: 20px !important;   
    text-align: left !important;  
    margin-bottom: 16px !important;
  }

